html,
		body {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			margin: 0;
		}

		body {
			transition: all .8s ease;
			padding-top: 80px;
			background-color: #f1f1f1;
		}

		.wrapper {
			padding-top: 50px;
			overflow: hidden;
			position: relative;
			z-index: 1000;
		}

		@keyframes flashBlack {
			50% {
				color: #000;
				background: #000;
				-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
				box-shadow: 0 0 5px rgba(0, 0, 0, .2);
			}
		}

		@keyframes flashWhite {
			50% {
				color: #000;
				background: #fff;
				-webkit-box-shadow: 0 3px 8px rgba(255, 255, 255, .8);
				box-shadow: 0 3px 8px rgba(255, 255, 255, .8);
			}
		}

		@keyframes bounce {

			from,
			20%,
			53%,
			80%,
			to {
				animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transform: translate3d(0, 0, 0);
			}

			40%,
			43% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -30px, 0);
			}

			70% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -15px, 0);
			}

			90% {
				transform: translate3d(0, -4px, 0);
			}
		}

		@-webkit-keyframes bounce {

			from,
			20%,
			53%,
			80%,
			to {
				animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transform: translate3d(0, 0, 0);
			}

			40%,
			43% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -30px, 0);
			}

			70% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -15px, 0);
			}

			90% {
				transform: translate3d(0, -4px, 0);
			}
		}

		@-moz-keyframes bounce {

			from,
			20%,
			53%,
			80%,
			to {
				animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transform: translate3d(0, 0, 0);
			}

			40%,
			43% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -30px, 0);
			}

			70% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -15px, 0);
			}

			90% {
				transform: translate3d(0, -4px, 0);
			}
		}

		@keyframes bounce {

			from,
			20%,
			53%,
			80%,
			to {
				animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transform: translate3d(0, 0, 0);
			}

			40%,
			43% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -30px, 0);
			}

			70% {
				animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
				transform: translate3d(0, -15px, 0);
			}

			90% {
				transform: translate3d(0, -4px, 0);
			}
		}

		span {
			animation: bounce 2s;
			transition: all 1s ease;
			margin-top: 10px;
			display: inline-block;
			position: relative;
			z-index: 100;
		}

		.flash {
			display: inline-block;
			width: 1px;
			height: 26px;
			background-color: transparent;
			animation: flashBlack 1.5s linear infinite;
			margin: 10px 8px 0;
			transform: translateY(8px);
		}

		.flash.flashWhite{
			animation-name: flashWhite;
		}

		.btn {
			-webkit-appearance: none;
			border: 0;
			box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
			background-color: #eee;
			padding: 5px 10px;
			border-radius: 5px;
			margin: 10px 0 10px 0;
			font-family: "microsoft yahei";
			cursor: pointer;
		}

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			background-color: rgb(47, 60, 79);
			z-index: 1;
			color: rgb(245, 245, 245);
			padding: 25px;
		}

		.header h2 {
			font-family: "microsoft yahei";
			font-size: 24px;
			font-weight: bold;
			color: #fff;
			margin: 0;
		}

		#author {
			font-size: 16px;
			color: #fff;
			position: fixed;
			bottom: 25px;
			right: 15px;
		}

		.tips {
			animation: bounce 2s;
			transition: all 1s ease;
			position: fixed;
			top: 50px;
			border-radius: 8px;
			padding: 5px 8px;
			color: #fff;
			background-color: rgb(116, 240, 116);
		}